[build-system]
requires = ["setuptools>=61", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "graphique"
dynamic = ["version"]
description = "GraphQL service for arrow tables and parquet data sets."
readme = "README.md"
requires-python = ">=3.8"
license = {file = "LICENSE.txt"}
authors = [{name = "Aric Coady", email = "aric.coady@gmail.com"}]
keywords = ["graphql", "arrow", "parquet"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: Database :: Database Engines/Servers",
    "Topic :: Internet :: WWW/HTTP :: HTTP Servers",
    "Topic :: Internet :: WWW/HTTP :: Indexing/Search",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Typing :: Typed",
]
dependencies = ["pyarrow>=11", "strawberry-graphql[asgi,cli]>=0.149.2"]

[project.urls]
Homepage = "https://github.com/coady/graphique"
Documentation = "https://coady.github.io/graphique"

[project.optional-dependencies]
server = ["uvicorn[standard]"]

[tool.setuptools]
packages = ["graphique"]

[tool.setuptools.dynamic]
version = {attr = "graphique.__version__"}

[tool.setuptools.package-data]
graphique = ["py.typed"]

[tool.black]
line-length = 100
skip-string-normalization = true

[[tool.mypy.overrides]]
module = ["pyarrow.*", "strawberry.*", "starlette.*"]
ignore_missing_imports = true

[tool.coverage.run]
source = ["graphique"]
branch = true
